<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% spaceless %}
            {% set _title = block('title') is not empty ? block('title') : '' %}
            {% block title %}{% endblock %}{% if _title is empty %}{{ custom_app_name }} - {{ 'site.motto'|trans }}{% else %} - {{ custom_app_name }}{% endif %}
        {% endspaceless %}</title>
        {% block stylesheets %}{% spaceless %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endspaceless %}{% endblock %}

    </head>
{% set _section = block('section') is defined ? block('section') : '' %}
    <body>
        {% include 'include/navbar.html.twig' with { 'section': _section } only %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% spaceless %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% endspaceless %}{% endblock %}
        {% include 'include/footer.html.twig' %}
    </body>
</html>
