<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% spaceless %}
            {% set _title = block('title') is not empty ? block('title') : '' %}
            {% block title %}{% endblock %}{% if _title is empty %}{{ custom_app_name }} - {{ 'site.motto'|trans }}{% else %} - {{ custom_app_name }}{% endif %}
        {% endspaceless %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ custom_app_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{{ 'toggle.navigation'|trans }}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">{% spaceless %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link sign-out" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link sign-in" href="{{ path('login') }}">{{ 'login'|trans }}</a>
                    </li>
                {% endif %}
                {% endspaceless %}</ul>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
